
@media  screen and  (max-width: 768px) {
    .features{
        justify-content: center;
        
            &_text{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 12px;
                width: 335px;

                & h2{
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 24px;
                    letter-spacing: -1px;
                    text-transform: capitalize;
                }
                & p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    opacity: 0.5;
                    text-align: center;
                    letter-spacing: -0.02em;
                }
        }
        
        &_cards{
            display: flex;
            flex-wrap: wrap;
          
            gap: 48px;

                & .card{
                    width: 85%;

                        & svg{
                            width: 48px;
                            height: 48px;   
                        }

                        & span {
                            color: #18216D;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24px;


                        }

                        & p{
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                        }

                        & a{
                            font-style: normal;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 16px;
                            color: #18216D;
                        }
                }

            }
    }
}