@media screen and  (max-width: 767px){
    
    .container{
        width: 90%;
        overflow: hidden;
        margin: 0 auto;
    }
}



@import 'styles/mobile/header/header.scss';
@import 'styles/mobile/collab/collab.scss';
@import 'styles/mobile/feature/feature.scss';
@import 'styles/mobile/section/mobile_section.scss';