
@media  screen and (max-width: 768px) {
    
    .main_content{
        display: flex;
         flex-wrap: wrap;
         margin-top: 43px;

         & .sect_with_img{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 43px 0 53px;
            gap: 41px;

            & .sect_text{
                width: 291px;
                text-align: center;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding-left: 0;
        
                & h2{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 27px;
                    text-align: center;
                }   
                & span{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                }   

                 & .start_free{
                        border: none;
                        border-radius: 6px;
                        width: 120px;
                        height: 40px;
                        background: #00ecd0;
                        margin-top: 44px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 17px;
                }      
            }


            & .img_chat{
                background: url("./images/Chat.svg") no-repeat;
                width: 350px;
                height: 300px;
                background-size:  cover;
                background-position: right;
            }
        }
     }
}