.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding-top: 41px;
    gap: 0 !important;


    & .blur {
        width: 100%;
        height: 394px;
        left: -111px;
        top: -20px;
        background: #FF523D;
        opacity: 0.05;
        filter: blur(150px);
    }

    & .nav_btn {

        & .close {
            display: flex;
        }

        & .navigation,
        .auth,
        .download {
            display: none;
        }


    }
}