
.main_content{
   display: flex;
    flex-wrap: wrap;

    & .sect_with_img{
        display: flex;
        justify-content: center;
        color: $mainColor;
        align-items: center;
        width: 90%;
        margin: 0 auto;

        & .sect_text{
           display: flex;
           flex-wrap: wrap;
            width: 50%;


            & h2{
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 60px;  
                margin: 0;
            }   
            
            & span{
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 28px;  
                padding-top: 16px;
            }  

            & .start_free{
                border: none;
                border-radius: 6px;
                width: 180px;
                height: 66px;
                background: #00ecd0;
                color: $mainColor;
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 21px;
                margin-top: 34px;
            }    
        }


        & .img_chat{
            background: url("./images/Chat.svg") no-repeat;
            width: 768px;
            height: 518px;
            background-size: cover;
            background-position: right;
        }
    }
}

